/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}
body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* ACTUAL CSS */

:root {
  /* COLORS: */
  --bgColor: #111;
  --gameBoardBorderColor: #ffff00;
  --accentColor: #ffff0050;
  --playerOneTokenColor: #410a0a;
  --playerTwoTokenColor: #0a4141;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-bold-webfont.woff2") format("woff2"),
    url("../fonts/roboto-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-italic-webfont.woff2") format("woff2"),
    url("../fonts/roboto-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto-regular-webfont.woff2") format("woff2"),
    url("../fonts/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fight Back";
  src: url("../fonts/fightback-webfont.woff2") format("woff2"),
    url("../fonts/fightback-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  width: 100%;
  padding: 20px;

  font-family: "Roboto", Helvetica, sans-serif;
  font-size: clamp(0.8rem, 1.5vw, 1.2rem);
  font-weight: bold;
  background: var(--bgColor);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  max-width: 1000px;
}

h1 {
  font-family: "Fight Back", sans-serif;
  font-size: clamp(5rem, 20vw, 8rem);
  font-weight: normal;
  line-height: normal;
  display: flex;
  user-select: none;
}

.logo-x,
.logo-o {
  text-shadow: -1px -1px 0 var(--accentColor), 1px -1px 0 var(--accentColor),
    -1px 1px 0 var(--accentColor), 1px 1px 0 var(--accentColor);
}

.logo-x {
  color: var(--playerOneTokenColor);
}

.logo-o {
  color: var(--playerTwoTokenColor);
}

.instructions {
  color: var(--gameBoardBorderColor);
  letter-spacing: 2px;
  line-height: 2;
  white-space: nowrap;
  user-select: none;
}

.fake-button {
  letter-spacing: normal;
  margin: 0 5px;
}

.start-reset-button,
.fake-button {
  background: var(--bgColor);
  color: var(--gameBoardBorderColor);
  text-transform: uppercase;
  border: 1px solid var(--accentColor);
  border-radius: 0.5rem;
  padding: 5px 20px;
}

.start-reset-button {
  cursor: pointer;
}

.start-reset-button:hover {
  background: var(--gameBoardBorderColor);
  color: var(--bgColor);
}

.game-board-container {
  display: grid;
  grid-template: repeat(3, minmax(30%, 1fr)) / repeat(3, minmax(30%, 1fr));

  background: radial-gradient(var(--gameBoardBorderColor), transparent 75%);
  width: 100%;
  max-width: 600px;
  opacity: 0.1;

  cursor: default;
  user-select: none;
}

.cell-wrapper {
  padding-right: 3px;
}

.cell-wrapper:nth-child(n + 4):nth-child(-n + 6) {
  padding-top: 3px;
  padding-bottom: 3px;
}

.cell-wrapper:nth-child(3n) {
  padding-right: 0;
}

.cell::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.cell {
  font-family: "Fight Back", sans-serif;
  font-size: clamp(5rem, 20vw, 8rem);
  font-weight: normal;
  background: var(--bgColor);
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cell:active {
  cursor: grabbing;
  scale: 0.95;
}

.cell-taken,
.cell-taken:active {
  user-select: none;
  scale: 1;
  cursor: default;
}

.results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: clamp(20px, 5vw, 40px);

  position: relative;

  width: 90%;
  max-width: 800px;
  margin-top: 20px;
}

.player-results,
.tie-games {
  position: relative;

  color: var(--gameBoardBorderColor);
  text-transform: uppercase;
  width: clamp(200px, 33%, 400px);
  padding: 10px clamp(10px, 2vw, 20px);
  border: none;
  border-radius: 0.8rem;
  box-shadow: 0 0 2px var(--gameBoardBorderColor);
}

.player-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;

  position: relative;
}

.tie-games {
  background: linear-gradient(
    to right,
    var(--playerOneTokenColor),
    var(--playerTwoTokenColor)
  );
  text-align: center;
}

.player-results > p {
  user-select: none;
}

.player-one {
  background: linear-gradient(
    to right,
    transparent,
    var(--playerOneTokenColor) 20%,
    var(--playerOneTokenColor)
  );
}

.player-two {
  background: linear-gradient(
    to right,
    var(--playerTwoTokenColor) 80%,
    transparent
  );
}

.player-one::before,
.player-two::before {
  position: absolute;
  transform: translateY(-50%);

  font-family: "Fight Back", sans-serif;
  font-size: clamp(10rem, 15vw, 13rem);
  font-weight: normal;
  text-shadow: -1px -1px 0 var(--accentColor), 1px -1px 0 var(--accentColor),
    -1px 1px 0 var(--accentColor), 1px 1px 0 var(--accentColor);
  z-index: -1;
}

.player-one::before {
  content: "X";
  top: 50%;
  left: 0;
  color: var(--playerOneTokenColor);
}

.player-two::before {
  content: "O";
  top: 60%;
  right: 0;
  color: var(--playerTwoTokenColor);
}

.fa-pen-to-square {
  position: absolute;
  top: 12px;
  right: clamp(10px, 2vw, 20px);
  cursor: pointer;
}

.fa-pen-to-square:hover {
  scale: 1.3;
}

.playerResultText {
  align-self: center;
}

.input-container {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-25%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  background: inherit;
  visibility: hidden;
}

.input-container {
  text-transform: none;
  max-width: 100%;
}

.input-container label {
  padding-left: 10px;
  white-space: nowrap;
}

.input-container input {
  padding-left: 10px;
  border: none;
  border-radius: 1rem;
  max-width: 180px;
  margin: 5px 10px 0 10px;
}

@media (max-width: 700px) {
  header {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .instructions {
    order: 3;
  }

  .start-reset-button {
    order: 2;
  }

  .results {
    flex-direction: column;
  }
}
